@import "./styles/inputs.scss";
@import "./styles/variables";
@import "./elements/header/header.scss";
@import "./elements/setup/setup.scss";
@import "./elements/input/directory.scss";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 38rem;
  background-color: transparent;
  color: white;
}

#main {
  border-radius: 5px;
  overflow: hidden;
  background-color: $medium;
  height: 100vh;
  width: 100vw;
}

main {
  padding: 10px;
  > div {
    opacity: 0;
    display: none;
  }
}

h3 {
  font-weight: 200;
  margin: 0;
  padding: 0;
  margin-bottom: 0.4em;
}

button {
  background-color: $light;
  padding: 2px;
  color: white;
  border-style: none;
  border-radius: 2px;
  outline: none;

  > p {
    padding: 0;
    margin: 5px;
  }
}

.stage-visible {
  opacity: 1;
  display: block;
}
